server:
  port: ${PORT:8000}

spring:
  application:
    name: gateway-server
  profiles:
    active: dev
  config:
    import: optional:configserver:http://config-server:8888
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: schedule-service
              uri: lb://SCHEDULE-SERVICE
              predicates:
                - Path=/schedule-service/**
              filters:
                - StripPrefix=1
